/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    display: block;
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }

  
:root {
   --ff-default: 'Montserrat', sans-serif;

   --fs-default: 1rem;
   --fs-medium: calc(var(--fs-default) * 1.25);
   --fs-small: calc(var(--fs-default) * .85);
   --fs-big: calc(var(--fs-default) * 1.5);
   --fs-large: calc(var(--fs-default) * 2);
   --fs-xl: calc(var(--fs-default) * 3);

   --clr-bg: rgb(19, 19, 19);
   --clr-bg-light: #313131;
   --clr-primary: #1DB954;
}

body {
    font-family:  var(--ff-default);  
    background-color: black;
    color: white;
}

body svg {
    fill: white
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem; 
}

.container > * {
    flex-basis: 100%;
}


.player {
    position: fixed;
    bottom: 0;
    margin-inline: auto;
    width: 100%;
}

.content {
    max-height: 80vh !important;
    overflow: scroll;  
}

.side-menu {
    flex-basis: 40%;
    max-width: 40%;
}

.side-menu input {
    background-color: var(--clr-bg-light);
    margin-block: 1rem;
    padding: .3rem;
    border-radius: 10px;
}


#root {
    padding-bottom: 10vh;
}

th {
    text-align: left;
}


.list-top, .list-top-main-info, .list-top-titles, .track-main-info, .track-artist {
    display: flex;
}

.list-top-main-info img {
    width: 64px !important;
}

.list-top {
    gap: 2rem;
}

.list-top img{
    max-width: 12.5rem;
}

.list-top-main-info, .track-main-info {
    gap: .3rem;
}

.list-top-main-info a {
    font-weight: 500;
}

.list-top-main-info h2 span {
    opacity: .8;
}

.list-top-titles h1{
    font-size: var(--fs-xl);
    font-weight: 700;
}

.list-top-titles {
    flex-direction: column;
    justify-content: flex-end;
    gap: 20%;
    font-weight: 500;
}

.list-btns {
    padding-block: 2rem;
}

table {
    font-size: var(--fs-default);
}
.track-main-info {
    margin: 0 !important;
    
}
.track {
    font-size: var(--fs-small);
}

tr h1, tr h2, tr a:last-child{
    white-space: nowrap;
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

td {
    vertical-align: middle;
    margin-bottom: 1%;
}

tr h2 {
    opacity: .7;
}

.track-play-btn {
    font-size: var(--fs-default);
    padding-right:1rem;
    text-align: center;
}

.track-play-btn h2 {
    margin: .1rem;
}

.track-play-btn svg {
    margin-block: auto;
    width: min-content;
}

thead {    
    border-bottom: 1px solid grey;
}

th ,td {   
    padding: .5rem;
}

.track-main-info img {
    max-width: 2.5rem;
}

tbody:before {
    content:"@";
    display:block;
    line-height:2rem;
    text-indent:-99999px;
}
.tracks {
    width: 100%;   
}

.track-album-name h2 {
    width: min-content;
}

.tracks a:hover, .track-album-name h2:hover  {
    cursor: pointer;
    text-decoration: underline;
}

.track-artist svg {
    min-width: 1.25rem;
}

.side-menu-top-nav > * > div {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
    opacity: .7;

}

.side-menu {
    position: sticky;
    top: 100%
}

.side-menu-content h1 {
    font-size: var(--fs-big);
    margin-bottom: 1rem;
    font-weight: 700;
}

.side-menu-content-nav {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.side-menu-content-nav li {
    background-color:  var(--clr-bg-light);
    font-size: var(--fs-small);
    padding: .5rem;
    border-radius: 1rem;
    opacity: .7;
}

.side-menu-content-nav li:hover, .side-menu-top-nav > * > div:hover, .side-menu-content-nav svg {
    cursor: pointer;
    opacity: 1;
}



.side-menu-content , .side-menu-top-nav, .content {
    overflow-x: hidden;
    background-color: var(--clr-bg);
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.side-menu-content-results {    
    max-height: 49vh;
    overflow: scroll;
}

.side-menu-content-results li {    
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 95%;
    padding: .5rem;
    border-radius: .5rem;   
     
}

.side-menu-content-results li h2, .side-menu-content-results li h3 {  
    overflow: hidden;
    text-overflow: ellipsis;    
}

.side-menu-content-results li img {
    border-radius: 10%;
    width: 18%;
}

.side-menu-content-results li:hover {
    cursor: pointer;
    background-color: var(--clr-bg-light);
}

.side-menu-content-results h2, .side-menu-content-results h3 { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-menu-content-results h3 {
    opacity: .7;  
    font-size: var(--fs-small);
}


.search-field {
    display: flex;
    background-color: var(--clr-bg-light);
    padding: 1rem;
    border-radius: 2rem;
    

}

.search-field svg{
    opacity: .7;
}   






@media (max-width: 50rem) {
    .track-extra-info {
        display: none;
    }
}

